@page
@model IndexModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewData["Title"] = "Home page";
}

@if (Model.Browser.Contains("Trident"))
{
    <div class="container Spacer">
        <div class="row">
            <div class="col-md">
                <div class="alert alert-danger text-center" role="alert">
                    <i class="fab fa-internet-explorer"></i> You are using Internet Explorer which is outdated and not supported. Please switch to a modern browser such as <a href="https://www.google.com/chrome/" class="alert-link" target="_blank" rel="noopener"><i class="fab fa-chrome"></i> Chrome</a> or <a href="https://www.microsoftedgeinsider.com" class="alert-link" target="_blank" rel="noopener"><i class="fab fa-edge"></i> Edge</a>
                </div>
            </div>
        </div>
    </div>
}

@if (@Model.SystemID != "ProSolution")
{
    <div class="container Spacer">
        <div class="row">
            <div class="col-md">
                <div class="alert alert-warning text-center" role="alert">
                    <i class="fas fa-database"></i> ProSolution <strong>@Model.SystemID</strong> System
                </div>
            </div>
        </div>
    </div>
}

@if (@Model.AcademicYear != @Model.DefaultAcademicYear)
{
    <div class="container Spacer">
        <div class="row">
            <div class="col-md">
                <div class="alert alert-warning text-center" role="alert">
                    <i class="far fa-calendar-alt"></i> Year selected is <strong>@Model.AcademicYear</strong> when default year is <strong>@(Model.DefaultAcademicYear)</strong>. Please check this is intentional.
                </div>
            </div>
        </div>
    </div>
}
<div class="container">
    <div class="row">
        <div class="col-md">
            <h2>WLC Progressions System</h2>
            <p>
                Please search for the course you wish to progress learners from then select the learners to progress:
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="form-group row">
                <label for="CourseSearchFromBox" class="col-sm-3 col-form-label">Course Progressing From:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control CourseSearchBox" id="CourseSearchFromBox" aria-describedby="CourseSearchFromBoxHelp" placeholder="Enter course code/title" aria-label="SearchFromBox">
                    <small id="CourseSearchFromBoxHelp" class="form-text text-muted">The search will occur automatically once you enter sufficient characters</small>
                    <button type="button" class="btn btn-primary btn-block OutstandingCoursesButton"><i class="far fa-clock"></i> Show All Courses with Outstanding Progressions</button>
                </div>
                <label for="CourseSearchFromBox" class="col-sm-1 col-form-label">in</label>
                <div class="col-sm-2">
                    <form method="get" id="ChangeAcademicYearID">
                        <select name="academicYear" class="form-control custom-select AcademicYearID" asp-items="ViewBag.AcademicYearID" id="AcademicYearID"></select>
                        <input type="hidden" name="system" id="SystemID" value="@Model.SystemID" />
                        <input type="hidden" name="systemILP" id="SystemILPID" value="@Model.SystemILPID" />
                    </form>
                </div>
                <div class="col-sm-1">
                    to @Model.ProgressionYear
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md text-center">
            <div class="d-lg-inline-flex flex-lg-row-reverse w-100">
                <ul class="nav w-25 nav-pills nav-fill ml-auto justify-content-end d-lg-inline-flex">
                    <li class="nav-item">
                        <div class="card">
                            <h4 id="NumOutstandingRecords" class="CountUp">0</h4> <span id="NumOutstandingRecordsText">records to go</span>
                        </div>
                    </li>
                </ul>
                <ul class="nav w-100 nav-pills nav-fill ml-auto justify-content-end d-lg-inline-flex">
                    <li class="nav-item align-self-center">
                        Outstanding Records
                        <label class="switch-sm">
                            <input type="checkbox" class="ToggleOutstandingChart">
                            <span class="slider-sm round"></span>
                        </label>
                        Completed Records
                    </li>
                </ul>
                <ul class="nav w-100 nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="chart-tab" data-toggle="tab" href="#ChartArea" role="tab" aria-controls="ChartArea" aria-selected="true">Chart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="table-tab" data-toggle="tab" href="#TableArea" role="tab" aria-controls="TableArea" aria-selected="false">Table</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="ChartArea" role="tabpanel" aria-labelledby="chart-tab">
                    <div id="ChartLoading" class="ChartLoading">
                        <h1><i class="fas fa-spinner fa-spin"></i></h1>
                    </div>
                    <div id="OutcomesProgressChartContainer" class="chart-container d-none OutcomesProgressChartContainer">
                        <canvas id="OutcomesProgressChart" style="width:100%; height:200px"></canvas>
                    </div>
                </div>
                <div class="tab-pane fade" id="TableArea" role="tabpanel" aria-labelledby="table-tab">
                    <div id="TableLoading" class="TableLoading">
                        <h1><i class="fas fa-spinner fa-spin"></i></h1>
                    </div>
                    <div id="OutcomesProgressTableContainer" class="d-none">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md SearchArea" id="SearchFromArea">
            <div class="alert alert-secondary text-center" role="alert">
                <i class="fas fa-info-circle"></i> No results...
            </div>
        </div>
    </div>

    <div class="row Spacer">
        <div class="alert alert-secondary col" role="alert" id="CoursePageFromNav">

        </div>
    </div>

    <div class="row">
        <div class="col-md StudentArea" id="StudentFromArea">
            <div class="alert alert-secondary text-center" role="alert">
                <i class="fas fa-info-circle"></i> Please search for course above...
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md alert alert-primary" role="alert">
            <div class="row">
                <div class="col-md-3">
                    Select all learners
                    <label class="switch GetNotifications">
                        <input type="checkbox" class="CheckAllStudents" disabled>
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-md-9 text-right">
                    <button type="button" class="btn btn-success disabled SaveDestinationButton" id="SaveDestinationButton"><i class="fas fa-road"></i> Save Destinations</button>
                    <button type="button" class="btn btn-primary disabled ProgressLearnerButton ProgressWithinTeam" id="ProgressWithinTeam"><i class="fas fa-redo-alt"></i> Progress Within Dept...</button>
                    <button type="button" class="btn btn-secondary disabled ProgressLearnerButton ProgressAnotherTeam" id="ProgressAnotherTeam"><i class="fas fa-share"></i> Progress To Another Dept...</button>
                </div>
            </div>
        </div>
    </div>
</div>

@if (@Model.SystemID != "ProSolution")
{
    <div class="container Spacer">
        <div class="row">
            <div class="col-md">
                <div class="alert alert-warning text-center" role="alert">
                    <i class="fas fa-database"></i> ProSolution <strong>@Model.SystemID</strong> System
                </div>
            </div>
        </div>
    </div>
}

@if (@Model.AcademicYear != @Model.DefaultAcademicYear)
{
    <div class="container Spacer">
        <div class="row">
            <div class="col-md">
                <div class="alert alert-warning text-center" role="alert">
                    <i class="far fa-calendar-alt"></i> Year selected is <strong>@Model.AcademicYear</strong> when default year is <strong>@(Model.DefaultAcademicYear)</strong>. Please check this is intentional.
                </div>
            </div>
        </div>
    </div>
}

<!-- Modals -->
<partial name="_ModalsPartial" model="Model" />

<partial name="_InputIDsPartial" model="Model" />
<input id="AntiForgeryTokenID" name="__RequestVerificationToken" type="hidden" value=" @Xsrf.GetAndStoreTokens(this.HttpContext).RequestToken" />

@section Scripts {
    <script src="~/js/charts.js" asp-append-version="true"></script>
}