@page  "{StudentRef}/{CourseID:int}"
@model WLCProgressions.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Forename)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Forename)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Age31stAug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Age31stAug)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.CompletionStatusName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.CompletionStatusName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.StudentRef">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
